<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head"></head>
<body class="loginbody text-center">

<form th:class="form-signin" th:action="@{/login}" method="post">
    <h1>Зайдём?</h1>
    <input class="form-control" type="text" id="username" name="username" autofocus="autofocus" placeholder="login"/>
    <input type="password" id="password" name="password" class="form-control" placeholder="Пароль"/>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log in"/><p th:if="${loginError}" class="alert-danger">Ну и что ты ввел, дурачок?</p>
</form>
</body>
</html>

